i {
    font-size: 40px;
}

i.help {
    width: 48px !important;
    height: 48px !important;
    padding: 0 !important;
    font-size: 48px !important;
}

.add-question {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 20px;
}

.question-list {
    padding-right: 50px;
}

mat-spinner {
    position: absolute;
    top: 30%;
    left: 30%;
}