<form [formGroup]="questionForm" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <mat-input-container>
        <input
            matInput
            placeholder="Título"
            formControlName="title"
            type="text"
            id="title"
            required>
    </mat-input-container>
    <mat-input-container>
        <input 
            matInput 
            placeholder="Descripción" 
            formControlName="description"
            type="text"
            id="description"
            required>
    </mat-input-container>
    <mat-grid-list cols="3" rowHeight="3:2">
        
        <mat-grid-tile>
            <mat-radio-group formControlName="icon" name="icon">
                <mat-radio-button value="none">
                    <i mat-list-icon class="material-icons">help</i>
                </mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
        <mat-grid-tile *ngFor="let icon of icons">
            <mat-radio-group formControlName="icon" name="icon">
                <mat-radio-button value="devicon-{{ icon.name }}-{{ getIconVersion(icon) }}">
                    <i mat-list-icon class="devicon-{{ icon.name }}-{{ getIconVersion(icon) }} colored"></i>
                </mat-radio-button>
            </mat-radio-group>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="example-button-row">
        <button type="submit" mat-raised-button color="accent">Nueva Pregunta</button>
    </div>
</form>